<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    
    The world is of 1847176.
    <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p>

    <form action="" method="POST">
      <table>
        <tbody>
          <tr>
            <th><label>Nombre de Usuario:</label></th>
            <th><input id="username"></th>
          </tr>
          <tr>
            <th><label>Correo electrónico:</label></th>
            <th><input type="email" id="email"></th>
          </tr>
          <tr>
            <th><label>Contraseña:</label></th>
            <th><input type="password" id="password"></th>
          </tr>
          <tr>
            <th><label>Repita su contraseña:</label></th>
            <th><input type="password" id="passwordConfirm"></th>
          </tr>
          <tr>
            <th><label>Género:</label></th>
            <th>
              <input type="radio" name="gender" value="male"><label>Masculino</label><br>
              <input type="radio" name="gender" value="female"><label>Feminino</label><br>
              <input type="radio" name="gender" value="other"><label>Otro</label>
            </th>
          </tr>
        </tbody>
      </table>
      <input type="submit" name="Ingresar" onclick="alert('Nothing has happened')">
    </form>
    

  </div>
</ion-content>
